.centre-text {
  text-align: center; }

.blue-button-container {
  width: 155px;
  height: 55px;
  background-color: #7bceed;
  font-family: "AvenirNext-Regular", sans-serif;
  color: #ffffff;
  margin: 0 auto; }

.blue-button-text {
  text-align: center;
  line-height: 55px;
  width: 100%; }

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #333333;
  z-index: 100; }

.nav-logo {
  box-sizing: border-box;
  margin: 4px 0px 4px 0px;
  width: 175px;
  height: 25px;
  background: url("http://localhost:8080/assets/nav/xs/logo.png") left top no-repeat; }

@media (min-width: 1025px) {
  .navbar {
    height: 81px;
    padding: 16px 0px 15px 30px; }

  .nav-logo {
    width: 295px;
    height: 40px;
    margin: 4px 0px 4px 0px;
    background: url("http://localhost:8080/assets/nav/lg/logo.png") left top no-repeat; } }
.nav-menu-background {
  display: inline;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100vw;
  background-color: lightpink; }

.nav-close-button {
  width: 100px;
  height: 50px;
  margin: 10px;
  margin-top: 60px;
  background-color: red; }

@media (max-width: 320px) {
  .nav-menu-background {
    display: none; } }
.nav-dummy-placeholder {
  width: 100%;
  height: 60px;
  background-color: white; }

.full-page-video {
  bakground-color: lightgrey; }

.video-overlay {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: black;
  opacity: .5; }

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  overflow: hidden;
  z-index: -99; }

.homepage-content {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px); }

.heading-span-one {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 30px 0px 30px;
  line-height: 1.1; }

.heading-span-one h3 {
  margin-bottom: 0px; }

.heading-span-one h1 {
  margin-top: 5px; }

.homepage-scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0); }

.homepage-scroll div {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  color: #ffffff;
  font-weight: 100;
  padding-bottom: 10px; }

.homepage-scroll img {
  display: block;
  margin: auto; }

.homepage-intro-container {
  background-color: white;
  box-sizing: border-box;
  padding: 60px 29px 60px 29px; }

.homepage-intro-text-1, .homepage-intro-text-2 {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  color: #4a4a4a;
  max-width: 600px;
  margin: 0 auto;
  opacity: 0; }

.homepage-intro-text-1 {
  font-weight: "BrandonGrotesque-Bold", sans-serif;
  font-size: 24px;
  padding-bottom: 30px; }

.homepage-intro-text-2 {
  font-size: 18px; }

@media (min-width: 1025px) {
  .homepage-content {
    top: 81px;
    height: calc(100vh - 81px); }

  .nav-dummy-placeholder {
    height: 81px; }

  .video-overlay {
    width: 100%;
    height: calc(100vh - 81px); }

  .heading-span-one {
    font-family: "BrandonGrotesque-Thin", sans-serif;
    flex-direction: row; }

  .heading-span-one h3 {
    font-size: 90px;
    margin-bottom: 90px; }

  .heading-span-one h1 {
    margin-top: 90px;
    margin-bottom: 90px;
    font-size: 90px; }

  .homepage-intro-container {
    padding: 120px 247px 120px 247px; }

  .homepage-intro-text-1 {
    padding-bottom: 50px; } }
.video-overlay-two {
  display: flex;
  min-height: 50vh;
  height: 100%;
  overflow: hidden;
  position: relative; }

.homepage-section-video-overlay {
  position: relative;
  left: 0;
  width: 100%;
  height: auto;
  background-color: black;
  transform: translate(-50%, 0%);
  z-index: 2;
  opacity: .5; }

.clear {
  clear: both;
  height: 0; }

.homepage-section-video-container {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%; }

.homepage-section-video-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
  z-index: 1; }

.homepage-section-bits {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  text-align: center;
  padding: 80px 29px 80px 29px;
  z-index: 5; }

.homepage-section-bits h2 {
  margin-top: 0px; }

.homepage-section-subtext-1, .homepage-section-subtext-2 {
  font-family: "AvenirNext-Regular", sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  max-width: 350px;
  margin: 0 auto; }

.homepage-section-subtext-1 {
  padding-bottom: 30px; }

.homepage-section-subtext-2 {
  font-size: 14px;
  padding-bottom: 60px; }

.h1-first {
  text-align: center;
  font-style: "BrandonGrotesque-Thin", sans-serif;
  color: "BrandonGrotesque-Regular", sans-serif; }

.sections-bits {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0px 0px 0px 0px;
  z-index: 5; }

.sections-page-h1 {
  font-family: "BrandonGrotesque-Thin", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 100;
  text-align: center;
  padding-bottom: 30px; }

.sections-title-second-word {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  font-weight: bolder; }

.sections-blue-border {
  width: 165px;
  height: 30px;
  border-top: 1px solid #7bceed;
  margin: 0 auto; }

.sections-subtext-1, .sections-subtext-2 {
  font-family: "AvenirNext-Regular", sans-serif;
  color: #ffffff;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  padding-left: 29px;
  padding-right: 29px; }

.sections-subtext-1 {
  padding-bottom: 30px; }

.sections-subtext-2 {
  font-size: 14px;
  padding-bottom: 60px; }

.sections-article-container {
  background-color: #f5f4f3; }

.sections-article-img-container {
  width: 100vw;
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 0px;
  overflow: hidden;
  box-sizing: border-box; }

.sections-article-img-container img {
  width: 100%;
  margin: 0 auto;
  vertical-align: middle; }

.sections-article-text-container {
  padding: 30px; }

.sections-article-text-heading h4 {
  color: #585858;
  margin-top: 0px;
  margin-bottom: 10px; }

.sections-article-subtext-1, .sections-article-subtext-2 {
  font-family: "AvenirNext-Regular", sans-serif;
  font-size: 20px;
  color: #585858; }

.sections-article-subtext-2 {
  margin-top: 30px;
  font-size: 14px;
  margin-bottom: 40px; }

@media (min-width: 1025px) {
  .sections-article-container {
    background-color: white; }

  .sections-article-img-container {
    width: 50vw;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 0px;
    overflow: hidden;
    box-sizing: border-box;
    float: left; }

  .sections-article-img-container img {
    width: 100%;
    margin: 0 auto;
    vertical-align: middle; }

  .sections-article-text-container {
    padding: 30px; }

  .sections-article-text-heading h4 {
    color: #585858;
    margin-top: 0px;
    margin-bottom: 10px; }

  .sections-article-subtext-1, .sections-article-subtext-2 {
    font-family: "AvenirNext-Regular", sans-serif;
    font-size: 20px;
    color: #585858; }

  .sections-article-subtext-2 {
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 40px; } }
.content-page-container {
  background-color: white; }

.content-page-body-container {
  margin: 60px 0px 0px 0px; }

.content-page-margin {
  margin: 0px 30px 0px 30px; }

.content-page-section-h {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  font-size: 24px;
  color: #7bceed;
  text-align: center;
  padding-bottom: 20px; }

.content-page-h1 {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  color: #333333;
  text-align: center;
  line-height: 1.4;
  font-size: 48px;
  padding-bottom: 20px; }

.content-page-h2 {
  font-family: "BrandonGrotesque-Bold", sans-serif;
  font-size: 36px;
  color: #4a4a4a;
  padding: 80px 0px 20px 0px; }

.content-page-h3 {
  font-family: "BrandonGrotesque-Bold", sans-serif;
  font-size: 24px;
  color: #4a4a4a; }

.content-page-img-container {
  position: relative; }

.content-page-img-holder {
  width: 100%;
  max-height: 50vh;
  overflow: hidden; }

.content-page-img-holder img {
  width: 100%;
  object-fit: contain; }

.content-page-bluebox {
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: calc(100% - 60px);
  transform: translateX(-50%);
  max-width: 300px;
  height: auto;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 16px;
  margin: 0 auto;
  background-color: #7bceed;
  color: white;
  font-family: "AvenirNext-Regular", sans-serif;
  font-size: 18px;
  text-align: center; }

.content-page-bluebox-firstword {
  font-size: 36px; }

.content-page-text {
  font-family: "AvenirNext-Regular", sans-serif;
  font-size: 18px;
  color: #4a4a4a;
  padding-bottom: 40px; }

.content-page-text1 {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px; }

.content-page-text2 {
  text-align: center;
  padding-bottom: 30px; }

.content-page-text3 {
  text-align: center;
  padding-bottom: 40px; }

.content-page-text4 {
  padding-bottom: 40px; }

.content-page-quote {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #7bceed;
  padding-bottom: 30px; }

.content-page-list {
  line-height: 2.5;
  list-style: none; }

.content-page-list li {
  counter-increment: item;
  color: #7bceed; }

.content-page-list li:before {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  font-size: 18px;
  content: counter(item);
  text-align: center;
  border-bottom: 1px solid #7bceed;
  margin-right: 30px;
  padding-left: 4px;
  padding-right: 4px; }

.content-page-list li span {
  color: #4a4a4a; }

@media (min-width: 1025px) {
  .content-page-section-h {
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px; }

  .content-page-h1 {
    text-align: center;
    line-height: 1.4;
    font-size: 90px;
    padding-bottom: 20px; }

  .content-page-h2 {
    font-size: 50px;
    padding: 80px 0px 20px 0px;
    width: 75%;
    max-width: 946px;
    margin: 0 auto; }

  .content-page-h3 {
    font-size: 36px;
    width: 75%;
    max-width: 946px;
    margin: 0 auto; }

  .content-page-text {
    font-size: 26px;
    padding-bottom: 40px;
    width: 75%;
    max-width: 946px;
    margin: 0 auto; }

  .content-page-text1 {
    font-family: "BrandonGrotesque-Regular", sans-serif;
    font-size: 34px;
    text-align: center;
    padding-bottom: 30px; }

  .content-page-text2 {
    text-align: center;
    padding-bottom: 30px; }

  .content-page-text3 {
    text-align: center;
    padding-bottom: 80px; }

  .content-page-text4 {
    padding-bottom: 40px; }

  .content-page-quote {
    font-size: 36px;
    width: 75%;
    max-width: 946px;
    margin: 0 auto; }

  .content-page-bluebox {
    left: calc(100% - 458px);
    bottom: 50px;
    width: 458px;
    max-width: 458px;
    padding: 45px 50px 60px 50px;
    font-size: 36px;
    text-align: left;
    margin: 0 0 0 0;
    transform: none; }

  .content-page-bluebox-firstword {
    font-size: 60px; } }
.bottom-footer-container {
  width: 100%;
  height: auto;
  background-image: url("/assets/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bottom-footer-info-container {
  font-family: "AvenirNext-Regular", sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 29px;
  padding-top: 60px; }

.bottom-footer-quote {
  font-size: 25px;
  padding-bottom: 20px; }

.bottom-footer-author {
  font-size: 18px;
  padding-bottom: 40px; }

.bottom-footer-privacy {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(216, 216, 216, 0.3); }

.bottom-footer-terms {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(216, 216, 216, 0.3); }

.bottom-footer-legal {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(216, 216, 216, 0.3); }

.bottom-footer-polish {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 14px; }

.bottom-footer-copyright {
  font-size: 12px; }

@media (min-width: 1025px) {
  .bottom-footer-info-container {
    max-width: 70%;
    margin: 0 auto; }

  .bottom-footer-quote {
    font-size: 50px; }

  .bottom-footer-author {
    text-align: right; }

  .bottom-footer-privacy {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.3); }

  .bottom-footer-terms {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.3); }

  .bottom-footer-legal {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.3); }

  .bottom-footer-polish {
    font-size: 16px; }

  .bottom-footer-copyright {
    font-size: 14px; } }
html body {
  margin: 0px; }

body {
  background-color: black; }

h1 {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  color: #ffffff;
  font-size: 48px;
  text-align: center; }

h2 {
  font-family: "BrandonGrotesque-Bold", sans-serif;
  color: #ffffff;
  font-size: 36px;
  text-decoration: 'none'; }

h3 {
  font-family: "BrandonGrotesque-Thin", sans-serif;
  color: #ffffff;
  font-size: 48px;
  text-decoration: 'none'; }

h4 {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  color: #585858;
  font-size: 36px; }

/*# sourceMappingURL=app.css.map */
