@import 'components/include-media.scss';
@import 'config/_config.scss';
@import 'components/_bluebutton.scss';
@import 'components/_navbar.scss';
@import 'components/_navmenu.scss';
@import 'components/_homepage.scss';
@import 'components/_homepageSection.scss';
@import 'components/_sectionspage.scss';
@import 'components/_sectionspageArticle.scss';
@import 'components/_contentPage.scss';
@import 'components/_bottomFooter.scss';
@import 'mixins/_breakpoints.scss';

html body {
  margin: 0px;
}

body {
  background-color: black;
}

h1 {
  font-family: $font-2;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
}

h2 {
  font-family: $font-1-bold;
  color: $font-3-color;
  font-size: 36px;
  text-decoration: 'none';
}

h3 {
  font-family: $font-3;
  color: $font-3-color;
  font-size: 48px;
  text-decoration: 'none';
}

h4 {
  font-family: $font-1;
  color: $font-5-color;
  font-size: 36px;
}
