$navbar-height-xs: 60px;
$navbar-height-lg: 81px;

$light-blue-color: #7bceed;
$blue-button-color: #7bceed;

$font-1:    'BrandonGrotesque-Regular', sans-serif;
$font-1-bold:    'BrandonGrotesque-Bold', sans-serif;
$font-1-color: #4a4a4a;

$h1-bold: 800;
$h1-line-height: 1.1;

$font-2:    'BrandonGrotesque-Regular', sans-serif;
$font-2-color: #ffffff;
$font-2-bold: 100;

$font-3:    'BrandonGrotesque-Thin', sans-serif;
$font-3-color: #ffffff;
// $font-3-bold: 100;

$font-4:    'AvenirNext-Regular', sans-serif;
$font-4-color: #ffffff;

$font-5-color: #585858;

$section-article-grey-back-color: #f5f4f3;
$content-h1-color: #333333;
$content-text-color: #4a4a4a;

// @font-face {
//   font-family: 'BrandonGrotesque-Regular';
//   src: local(Brandon Grotesque Regular);
//   font-weight: normal;
//   font-style: normal;
// }

.centre-text {
  text-align: center;
}
