.blue-button-container {
  width: 155px;
  height: 55px;
  background-color: $blue-button-color;
  font-family: $font-4;
  color: $font-4-color;
  margin: 0 auto;
}

.blue-button-text {
  text-align: center;
  line-height: 55px;
}
