.h1-first {
  text-align: center;
  font-style: $font-3;
  color: $font-1;
}

// .homepage-content {
//   position: absolute;
// }

.sections-bits {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  width: 100%;
  text-align: center;
  padding: 0px 0px 0px 0px;
  // padding: 80px 29px 80px 29px;
  // padding: 40px;
  z-index: 5;
}

.sections-page-h1 {
  font-family: $font-3;
  color: $font-4-color;
  font-size: 48px;
  font-weight:100;
  text-align: center;
  padding-bottom: 30px;
}

.sections-title-second-word {
  font-family: $font-1;
  font-weight:bolder;
}

.sections-blue-border {
  width: 165px;
  height: 30px;
  border-top:1px solid $light-blue-color;
  margin: 0 auto;
}

.sections-subtext-1, .sections-subtext-2 {
  font-family: $font-4;
  color: $font-4-color;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  padding-left: 29px; padding-right: 29px;
}

.sections-subtext-1 {
  padding-bottom: 30px;
}

.sections-subtext-2 {
  font-size: 14px;
  padding-bottom: 60px;
}
