.sections-article-container {
  background-color: white;
}

.sections-article-img-container {
  width: 100%;
  // padding: 30px;
  overflow: hidden;
  display: none;
}

.sections-article-img-container img {
  width: 80vw;
  display: inline-block; /* Instead of display: block; */
  margin: 0 auto;
  border: 50px;
  vertical-align: middle;
}
