.centre-text {
  text-align: center; }

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #333333;
  z-index: 100; }

.nav-logo {
  box-sizing: border-box;
  margin: 4px 0px 4px 0px;
  width: 175px;
  height: 25px;
  background: url("http://localhost:8080/assets/nav/xs/logo.png") left top no-repeat; }

@media (min-width: 1025px) {
  .navbar {
    height: 81px;
    padding: 16px 0px 15px 30px; }

  .nav-logo {
    width: 295px;
    height: 40px;
    margin: 4px 0px 4px 0px;
    background: url("http://localhost:8080/assets/nav/lg/logo.png") left top no-repeat; } }
.nav-menu-background {
  display: inline;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100vw;
  background-color: lightpink; }

.nav-close-button {
  width: 100px;
  height: 50px;
  margin: 10px;
  margin-top: 60px;
  background-color: red; }

@media (max-width: 320px) {
  .nav-menu-background {
    display: none; } }
.nav-dummy-placeholder {
  width: 100%;
  height: 60px;
  background-color: white; }

.full-page-video {
  bakground-color: lightgrey; }

.video-overlay {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: black;
  opacity: .5; }

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  overflow: hidden;
  z-index: -99; }

.homepage-content {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px); }

.homepage-content h1 {
  height: calc(100vh - 60px);
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
  font-weight: 800;
  line-height: 1.1; }

.homepage-scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0); }

.homepage-scroll div {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  color: #ffffff;
  font-weight: 100;
  padding-bottom: 10px; }

.homepage-scroll img {
  display: block;
  margin: auto; }

.homepage-intro-container {
  background-color: white;
  box-sizing: border-box;
  padding: 60px 29px 60px 29px; }

.homepage-intro-text-1 {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  font-weight: 200;
  color: #4a4a4a;
  font-size: 24px;
  padding-bottom: 30px; }

.homepage-intro-text-2 {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  color: #4a4a4a;
  font-size: 18px; }

@media (min-width: 1025px) {
  .nav-dummy-placeholder {
    height: 81px; }

  .video-overlay {
    width: 100%;
    height: calc(100vh - 81px); }

  .homepage-content h1 {
    font-size: 90px; }

  .homepage-intro-container {
    padding: 120px 247px 120px 247px; }

  .homepage-intro-text-1 {
    padding-bottom: 50px; } }
.video-overlay-two {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative; }

.homepage-section-video-overlay {
  position: relative;
  left: 0;
  width: 100%;
  height: auto;
  background-color: black;
  transform: translate(-50%, 0%);
  z-index: 2;
  opacity: .5; }

.clear {
  clear: both;
  height: 0; }

.homepage-section-video-container {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%; }

.homepage-section-video-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
  z-index: 1; }

.homepage-section-bits {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 40%;
  text-align: center;
  padding: 30px 29px 30px 29px;
  z-index: 5; }

.homepage-section-bits h2 {
  margin-top: 0px; }

.homepage-section-subtext-1, .homepage-section-subtext-2 {
  font-family: "AvenirNext-Regular", sans-serif;
  color: #ffffff;
  text-align: center; }

.homepage-section-subtext-1 {
  padding-bottom: 30px; }

.homepage-section-subtext-2 {
  font-size: 14px; }

html body {
  margin: 0px; }

body {
  background-color: lightgreen; }

h1 {
  font-family: "BrandonGrotesque-Regular", sans-serif;
  color: #ffffff;
  font-size: 72px;
  text-align: center; }

h2 {
  font-family: "BrandonGrotesque-Bold", sans-serif;
  color: #ffffff;
  font-size: 36px;
  text-align: center; }

/*# sourceMappingURL=app.css.map */
